---
urls:
  - https://ci.infradev.talpay.itvcloud.zone/view/Talpay/
  - https://status.infraprd.talpay.itvcloud.zone/#/events
  - https://dashboard.infradev.talpay.itvcloud.zone/talpay
  - https://logs.infraprd.talpay.itvcloud.zone/goto/9ab9d95645762c526a1065b3c5c51a03
